In [1]:
import pandas as pd

In [2]:
import numpy as np
%matplotlib inline

In [3]:
df1 = pd.read_csv('s133UN01qyLD (2).csv')

In [4]:
df1

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
688179  1983        15  999999999
688180  1983        15      35002
688181  1983        15       8502
688182  1983        15          0
688183  1983        15  999999999

[688184 rows x 3 columns]

In [5]:
df2 = pd.read_csv('s165u1u4BUbp (1).csv')

In [6]:
df2

        YEAR  STATEFIP  RACE
0       1980        23   100
1       1980        23   100
2       1980        23   100
3       1980        23   100
4       1980        23   100
...      ...       ...   ...
688179  1983        15   100
688180  1983        15   100
688181  1983        15   100
688182  1983        15   100
688183  1983        15   100

[688184 rows x 3 columns]

In [7]:
grouped1 = df1.groupby('YEAR')
grouped2 = df2.groupby('YEAR')

In [8]:
'''for name, group in grouped1:
    print(name)
    print(group)
for name, group in grouped2:
    print(name)
    print(group)'''

'for name, group in grouped1:\n    print(name)\n    print(group)\nfor name, group in grouped2:\n    print(name)\n    print(group)'

In [9]:
df1

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
688179  1983        15  999999999
688180  1983        15      35002
688181  1983        15       8502
688182  1983        15          0
688183  1983        15  999999999

[688184 rows x 3 columns]

In [10]:
df1

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
688179  1983        15  999999999
688180  1983        15      35002
688181  1983        15       8502
688182  1983        15          0
688183  1983        15  999999999

[688184 rows x 3 columns]

In [11]:
'''years = [1980, 1981, 1982, 1983]
yearnames = [df1980, df1981, df1982, df1983]
for x in years:
    for y in yearnames:
        y = df1[df1['YEAR'] == x]'''

"years = [1980, 1981, 1982, 1983]\nyearnames = [df1980, df1981, df1982, df1983]\nfor x in years:\n    for y in yearnames:\n        y = df1[df1['YEAR'] == x]"

In [12]:
states= [ "AK - Alaska", 
                "AL - Alabama", 
                "AR - Arkansas", 
                "AS - American Samoa", 
                "AZ - Arizona", 
                "CA - California", 
                "CO - Colorado", 
                "CT - Connecticut", 
                "DC - District of Columbia", 
                "DE - Delaware", 
                "FL - Florida", 
                "GA - Georgia", 
                "GU - Guam", 
                "HI - Hawaii", 
                "IA - Iowa", 
                "ID - Idaho", 
                "IL - Illinois", 
                "IN - Indiana", 
                "KS - Kansas", 
                "KY - Kentucky", 
                "LA - Louisiana", 
                "MA - Massachusetts", 
                "MD - Maryland", 
                "ME - Maine", 
                "MI - Michigan", 
                "MN - Minnesota", 
                "MO - Missouri", 
                "MS - Mississippi", 
                "MT - Montana", 
                "NC - North Carolina", 
                "ND - North Dakota", 
                "NE - Nebraska", 
                "NH - New Hampshire", 
                "NJ - New Jersey", 
                "NM - New Mexico", 
                "NV - Nevada", 
                "NY - New York", 
                "OH - Ohio", 
                "OK - Oklahoma", 
                "OR - Oregon", 
                "PA - Pennsylvania", 
                "PR - Puerto Rico", 
                "RI - Rhode Island", 
                "SC - South Carolina", 
                "SD - South Dakota", 
                "TN - Tennessee", 
                "TX - Texas", 
                "UT - Utah", 
                "VA - Virginia", 
                "VI - Virgin Islands", 
                "VT - Vermont", 
                "WA - Washington", 
                "WI - Wisconsin", "WV - West Virginia", "WY - Wyoming"]
dataframes= ["df1980", "df1981", "df1982", "df1983"]
for x in states:
    for y in dataframes:
        print(('"'+y+x+","+'"').replace(" ",""))

"df1980AK-Alaska,"
"df1981AK-Alaska,"
"df1982AK-Alaska,"
"df1983AK-Alaska,"
"df1980AL-Alabama,"
"df1981AL-Alabama,"
"df1982AL-Alabama,"
"df1983AL-Alabama,"
"df1980AR-Arkansas,"
"df1981AR-Arkansas,"
"df1982AR-Arkansas,"
"df1983AR-Arkansas,"
"df1980AS-AmericanSamoa,"
"df1981AS-AmericanSamoa,"
"df1982AS-AmericanSamoa,"
"df1983AS-AmericanSamoa,"
"df1980AZ-Arizona,"
"df1981AZ-Arizona,"
"df1982AZ-Arizona,"
"df1983AZ-Arizona,"
"df1980CA-California,"
"df1981CA-California,"
"df1982CA-California,"
"df1983CA-California,"
"df1980CO-Colorado,"
"df1981CO-Colorado,"
"df1982CO-Colorado,"
"df1983CO-Colorado,"
"df1980CT-Connecticut,"
"df1981CT-Connecticut,"
"df1982CT-Connecticut,"
"df1983CT-Connecticut,"
"df1980DC-DistrictofColumbia,"
"df1981DC-DistrictofColumbia,"
"df1982DC-DistrictofColumbia,"
"df1983DC-DistrictofColumbia,"
"df1980DE-Delaware,"
"df1981DE-Delaware,"
"df1982DE-Delaware,"
"df1983DE-Delaware,"
"df1980FL-Florida,"
"df1981FL-Florida,"
"df1982FL-Florida,"
"df1983FL-Florida,"
"df1980GA-Georgia,"
"df1981GA-Georgia,"
"df1982GA-Georgia,"
"df1983GA-Georgia,"
"df1980GU-Guam,"
"df1981GU-Guam,"
"df1982GU-Guam,"
"df1983GU-Guam,"
"df1980HI-Hawaii,"
"df1981HI-Hawaii,"
"df1982HI-Hawaii,"
"df1983HI-Hawaii,"
"df1980IA-Iowa,"
"df1981IA-Iowa,"
"df1982IA-Iowa,"
"df1983IA-Iowa,"
"df1980ID-Idaho,"
"df1981ID-Idaho,"
"df1982ID-Idaho,"
"df1983ID-Idaho,"
"df1980IL-Illinois,"
"df1981IL-Illinois,"
"df1982IL-Illinois,"
"df1983IL-Illinois,"
"df1980IN-Indiana,"
"df1981IN-Indiana,"
"df1982IN-Indiana,"
"df1983IN-Indiana,"
"df1980KS-Kansas,"
"df1981KS-Kansas,"
"df1982KS-Kansas,"
"df1983KS-Kansas,"
"df1980KY-Kentucky,"
"df1981KY-Kentucky,"
"df1982KY-Kentucky,"
"df1983KY-Kentucky,"
"df1980LA-Louisiana,"
"df1981LA-Louisiana,"
"df1982LA-Louisiana,"
"df1983LA-Louisiana,"
"df1980MA-Massachusetts,"
"df1981MA-Massachusetts,"
"df1982MA-Massachusetts,"
"df1983MA-Massachusetts,"
"df1980MD-Maryland,"
"df1981MD-Maryland,"
"df1982MD-Maryland,"
"df1983MD-Maryland,"
"df1980ME-Maine,"
"df1981ME-Maine,"
"df1982ME-Maine,"
"df1983ME-Maine,"
"df1980MI-Michigan,"
"df1981MI-Michigan,"
"df1982MI-Michigan,"
"df1983MI-Michigan,"
"df1980MN-Minnesota,"
"df1981MN-Minnesota,"
"df1982MN-Minnesota,"
"df1983MN-Minnesota,"
"df1980MO-Missouri,"
"df1981MO-Missouri,"
"df1982MO-Missouri,"
"df1983MO-Missouri,"
"df1980MS-Mississippi,"
"df1981MS-Mississippi,"
"df1982MS-Mississippi,"
"df1983MS-Mississippi,"
"df1980MT-Montana,"
"df1981MT-Montana,"
"df1982MT-Montana,"
"df1983MT-Montana,"
"df1980NC-NorthCarolina,"
"df1981NC-NorthCarolina,"
"df1982NC-NorthCarolina,"
"df1983NC-NorthCarolina,"
"df1980ND-NorthDakota,"
"df1981ND-NorthDakota,"
"df1982ND-NorthDakota,"
"df1983ND-NorthDakota,"
"df1980NE-Nebraska,"
"df1981NE-Nebraska,"
"df1982NE-Nebraska,"
"df1983NE-Nebraska,"
"df1980NH-NewHampshire,"
"df1981NH-NewHampshire,"
"df1982NH-NewHampshire,"
"df1983NH-NewHampshire,"
"df1980NJ-NewJersey,"
"df1981NJ-NewJersey,"
"df1982NJ-NewJersey,"
"df1983NJ-NewJersey,"
"df1980NM-NewMexico,"
"df1981NM-NewMexico,"
"df1982NM-NewMexico,"
"df1983NM-NewMexico,"
"df1980NV-Nevada,"
"df1981NV-Nevada,"
"df1982NV-Nevada,"
"df1983NV-Nevada,"
"df1980NY-NewYork,"
"df1981NY-NewYork,"
"df1982NY-NewYork,"
"df1983NY-NewYork,"
"df1980OH-Ohio,"
"df1981OH-Ohio,"
"df1982OH-Ohio,"
"df1983OH-Ohio,"
"df1980OK-Oklahoma,"
"df1981OK-Oklahoma,"
"df1982OK-Oklahoma,"
"df1983OK-Oklahoma,"
"df1980OR-Oregon,"
"df1981OR-Oregon,"
"df1982OR-Oregon,"
"df1983OR-Oregon,"
"df1980PA-Pennsylvania,"
"df1981PA-Pennsylvania,"
"df1982PA-Pennsylvania,"
"df1983PA-Pennsylvania,"
"df1980PR-PuertoRico,"
"df1981PR-PuertoRico,"
"df1982PR-PuertoRico,"
"df1983PR-PuertoRico,"
"df1980RI-RhodeIsland,"
"df1981RI-RhodeIsland,"
"df1982RI-RhodeIsland,"
"df1983RI-RhodeIsland,"
"df1980SC-SouthCarolina,"
"df1981SC-SouthCarolina,"
"df1982SC-SouthCarolina,"
"df1983SC-SouthCarolina,"
"df1980SD-SouthDakota,"
"df1981SD-SouthDakota,"
"df1982SD-SouthDakota,"
"df1983SD-SouthDakota,"
"df1980TN-Tennessee,"
"df1981TN-Tennessee,"
"df1982TN-Tennessee,"
"df1983TN-Tennessee,"
"df1980TX-Texas,"
"df1981TX-Texas,"
"df1982TX-Texas,"
"df1983TX-Texas,"
"df1980UT-Utah,"
"df1981UT-Utah,"
"df1982UT-Utah,"
"df1983UT-Utah,"
"df1980VA-Virginia,"
"df1981VA-Virginia,"
"df1982VA-Virginia,"
"df1983VA-Virginia,"
"df1980VI-VirginIslands,"
"df1981VI-VirginIslands,"
"df1982VI-VirginIslands,"
"df1983VI-VirginIslands,"
"df1980VT-Vermont,"
"df1981VT-Vermont,"
"df1982VT-Vermont,"
"df1983VT-Vermont,"
"df1980WA-Washington,"
"df1981WA-Washington,"
"df1982WA-Washington,"
"df1983WA-Washington,"
"df1980WI-Wisconsin,"
"df1981WI-Wisconsin,"
"df1982WI-Wisconsin,"
"df1983WI-Wisconsin,"
"df1980WV-WestVirginia,"
"df1981WV-WestVirginia,"
"df1982WV-WestVirginia,"
"df1983WV-WestVirginia,"
"df1980WY-Wyoming,"
"df1981WY-Wyoming,"
"df1982WY-Wyoming,"
"df1983WY-Wyoming,"

In [13]:
stateandyearnames = ["df1980AK-Alaska,"
"df1981AK-Alaska,"
"df1982AK-Alaska,"
"df1983AK-Alaska,"
"df1980AL-Alabama,"
"df1981AL-Alabama,"
"df1982AL-Alabama,"
"df1983AL-Alabama,"
"df1980AR-Arkansas,"
"df1981AR-Arkansas,"
"df1982AR-Arkansas,"
"df1983AR-Arkansas,"
"df1980AS-AmericanSamoa,"
"df1981AS-AmericanSamoa,"
"df1982AS-AmericanSamoa,"
"df1983AS-AmericanSamoa,"
"df1980AZ-Arizona,"
"df1981AZ-Arizona,"
"df1982AZ-Arizona,"
"df1983AZ-Arizona,"
"df1980CA-California,"
"df1981CA-California,"
"df1982CA-California,"
"df1983CA-California,"
"df1980CO-Colorado,"
"df1981CO-Colorado,"
"df1982CO-Colorado,"
"df1983CO-Colorado,"
"df1980CT-Connecticut,"
"df1981CT-Connecticut,"
"df1982CT-Connecticut,"
"df1983CT-Connecticut,"
"df1980DC-DistrictofColumbia,"
"df1981DC-DistrictofColumbia,"
"df1982DC-DistrictofColumbia,"
"df1983DC-DistrictofColumbia,"
"df1980DE-Delaware,"
"df1981DE-Delaware,"
"df1982DE-Delaware,"
"df1983DE-Delaware,"
"df1980FL-Florida,"
"df1981FL-Florida,"
"df1982FL-Florida,"
"df1983FL-Florida,"
"df1980GA-Georgia,"
"df1981GA-Georgia,"
"df1982GA-Georgia,"
"df1983GA-Georgia,"
"df1980GU-Guam,"
"df1981GU-Guam,"
"df1982GU-Guam,"
"df1983GU-Guam,"
"df1980HI-Hawaii,"
"df1981HI-Hawaii,"
"df1982HI-Hawaii,"
"df1983HI-Hawaii,"
"df1980IA-Iowa,"
"df1981IA-Iowa,"
"df1982IA-Iowa,"
"df1983IA-Iowa,"
"df1980ID-Idaho,"
"df1981ID-Idaho,"
"df1982ID-Idaho,"
"df1983ID-Idaho,"
"df1980IL-Illinois,"
"df1981IL-Illinois,"
"df1982IL-Illinois,"
"df1983IL-Illinois,"
"df1980IN-Indiana,"
"df1981IN-Indiana,"
"df1982IN-Indiana,"
"df1983IN-Indiana,"
"df1980KS-Kansas,"
"df1981KS-Kansas,"
"df1982KS-Kansas,"
"df1983KS-Kansas,"
"df1980KY-Kentucky,"
"df1981KY-Kentucky,"
"df1982KY-Kentucky,"
"df1983KY-Kentucky,"
"df1980LA-Louisiana,"
"df1981LA-Louisiana,"
"df1982LA-Louisiana,"
"df1983LA-Louisiana,"
"df1980MA-Massachusetts,"
"df1981MA-Massachusetts,"
"df1982MA-Massachusetts,"
"df1983MA-Massachusetts,"
"df1980MD-Maryland,"
"df1981MD-Maryland,"
"df1982MD-Maryland,"
"df1983MD-Maryland,"
"df1980ME-Maine,"
"df1981ME-Maine,"
"df1982ME-Maine,"
"df1983ME-Maine,"
"df1980MI-Michigan,"
"df1981MI-Michigan,"
"df1982MI-Michigan,"
"df1983MI-Michigan,"
"df1980MN-Minnesota,"
"df1981MN-Minnesota,"
"df1982MN-Minnesota,"
"df1983MN-Minnesota,"
"df1980MO-Missouri,"
"df1981MO-Missouri,"
"df1982MO-Missouri,"
"df1983MO-Missouri,"
"df1980MS-Mississippi,"
"df1981MS-Mississippi,"
"df1982MS-Mississippi,"
"df1983MS-Mississippi,"
"df1980MT-Montana,"
"df1981MT-Montana,"
"df1982MT-Montana,"
"df1983MT-Montana,"
"df1980NC-NorthCarolina,"
"df1981NC-NorthCarolina,"
"df1982NC-NorthCarolina,"
"df1983NC-NorthCarolina,"
"df1980ND-NorthDakota,"
"df1981ND-NorthDakota,"
"df1982ND-NorthDakota,"
"df1983ND-NorthDakota,"
"df1980NE-Nebraska,"
"df1981NE-Nebraska,"
"df1982NE-Nebraska,"
"df1983NE-Nebraska,"
"df1980NH-NewHampshire,"
"df1981NH-NewHampshire,"
"df1982NH-NewHampshire,"
"df1983NH-NewHampshire,"
"df1980NJ-NewJersey,"
"df1981NJ-NewJersey,"
"df1982NJ-NewJersey,"
"df1983NJ-NewJersey,"
"df1980NM-NewMexico,"
"df1981NM-NewMexico,"
"df1982NM-NewMexico,"
"df1983NM-NewMexico,"
"df1980NV-Nevada,"
"df1981NV-Nevada,"
"df1982NV-Nevada,"
"df1983NV-Nevada,"
"df1980NY-NewYork,"
"df1981NY-NewYork,"
"df1982NY-NewYork,"
"df1983NY-NewYork,"
"df1980OH-Ohio,"
"df1981OH-Ohio,"
"df1982OH-Ohio,"
"df1983OH-Ohio,"
"df1980OK-Oklahoma,"
"df1981OK-Oklahoma,"
"df1982OK-Oklahoma,"
"df1983OK-Oklahoma,"
"df1980OR-Oregon,"
"df1981OR-Oregon,"
"df1982OR-Oregon,"
"df1983OR-Oregon,"
"df1980PA-Pennsylvania,"
"df1981PA-Pennsylvania,"
"df1982PA-Pennsylvania,"
"df1983PA-Pennsylvania,"
"df1980PR-PuertoRico,"
"df1981PR-PuertoRico,"
"df1982PR-PuertoRico,"
"df1983PR-PuertoRico,"
"df1980RI-RhodeIsland,"
"df1981RI-RhodeIsland,"
"df1982RI-RhodeIsland,"
"df1983RI-RhodeIsland,"
"df1980SC-SouthCarolina,"
"df1981SC-SouthCarolina,"
"df1982SC-SouthCarolina,"
"df1983SC-SouthCarolina,"
"df1980SD-SouthDakota,"
"df1981SD-SouthDakota,"
"df1982SD-SouthDakota,"
"df1983SD-SouthDakota,"
"df1980TN-Tennessee,"
"df1981TN-Tennessee,"
"df1982TN-Tennessee,"
"df1983TN-Tennessee,"
"df1980TX-Texas,"
"df1981TX-Texas,"
"df1982TX-Texas,"
"df1983TX-Texas,"
"df1980UT-Utah,"
"df1981UT-Utah,"
"df1982UT-Utah,"
"df1983UT-Utah,"
"df1980VA-Virginia,"
"df1981VA-Virginia,"
"df1982VA-Virginia,"
"df1983VA-Virginia,"
"df1980VI-VirginIslands,"
"df1981VI-VirginIslands,"
"df1982VI-VirginIslands,"
"df1983VI-VirginIslands,"
"df1980VT-Vermont,"
"df1981VT-Vermont,"
"df1982VT-Vermont,"
"df1983VT-Vermont,"
"df1980WA-Washington,"
"df1981WA-Washington,"
"df1982WA-Washington,"
"df1983WA-Washington,"
"df1980WI-Wisconsin,"
"df1981WI-Wisconsin,"
"df1982WI-Wisconsin,"
"df1983WI-Wisconsin,"
"df1980WV-WestVirginia,"
"df1981WV-WestVirginia,"
"df1982WV-WestVirginia,"
"df1983WV-WestVirginia,"
"df1980WY-Wyoming,"
"df1981WY-Wyoming,"
"df1982WY-Wyoming,"
"df1983WY-Wyoming,"]

In [14]:
df1980 = df1[df1['YEAR'] == 1980]
df1981 = df1[df1['YEAR'] == 1981]
df1982 = df1[df1['YEAR'] == 1982]
df1983 = df1[df1['YEAR'] == 1983]

In [15]:
yeardataframes = [df1980, df1981, df1982, df1983]

In [16]:
yeardataframes

[        YEAR  STATEFIP     INCTOT
 0       1980        23      18919
 1       1980        23       8203
 2       1980        23      13680
 3       1980        23       2802
 4       1980        23          0
 ...      ...       ...        ...
 181483  1980        15       2800
 181484  1980        15  999999999
 181485  1980        15  999999999
 181486  1980        15      12752
 181487  1980        15         41

 [181488 rows x 3 columns],
         YEAR  STATEFIP  INCTOT
 181488  1981        23   12965
 181489  1981        23    6642
 181490  1981        23   18000
 181491  1981        23   20215
 181492  1981        23    3165
 ...      ...       ...     ...
 362841  1981        15    7100
 362842  1981        15   21750
 362843  1981        15   13750
 362844  1981        15   14950
 362845  1981        15     248

 [181358 rows x 3 columns],
         YEAR  STATEFIP     INCTOT
 362846  1982        23      17050
 362847  1982        23      17000
 362848  1982        23      17300
 362849  1982        23        325
 362850  1982        23      15025
 ...      ...       ...        ...
 525544  1982        15      10000
 525545  1982        15  999999999
 525546  1982        15      10000
 525547  1982        15       5577
 525548  1982        15       3538

 [162703 rows x 3 columns],
         YEAR  STATEFIP     INCTOT
 525549  1983        23       7100
 525550  1983        23          0
 525551  1983        23  999999999
 525552  1983        23      12000
 525553  1983        23       4187
 ...      ...       ...        ...
 688179  1983        15  999999999
 688180  1983        15      35002
 688181  1983        15       8502
 688182  1983        15          0
 688183  1983        15  999999999

 [162635 rows x 3 columns]]

In [17]:
stateslesswhitespace = []
for x in states:
    print('"'+x.replace(" ","")+","+'"')

"AK-Alaska,"
"AL-Alabama,"
"AR-Arkansas,"
"AS-AmericanSamoa,"
"AZ-Arizona,"
"CA-California,"
"CO-Colorado,"
"CT-Connecticut,"
"DC-DistrictofColumbia,"
"DE-Delaware,"
"FL-Florida,"
"GA-Georgia,"
"GU-Guam,"
"HI-Hawaii,"
"IA-Iowa,"
"ID-Idaho,"
"IL-Illinois,"
"IN-Indiana,"
"KS-Kansas,"
"KY-Kentucky,"
"LA-Louisiana,"
"MA-Massachusetts,"
"MD-Maryland,"
"ME-Maine,"
"MI-Michigan,"
"MN-Minnesota,"
"MO-Missouri,"
"MS-Mississippi,"
"MT-Montana,"
"NC-NorthCarolina,"
"ND-NorthDakota,"
"NE-Nebraska,"
"NH-NewHampshire,"
"NJ-NewJersey,"
"NM-NewMexico,"
"NV-Nevada,"
"NY-NewYork,"
"OH-Ohio,"
"OK-Oklahoma,"
"OR-Oregon,"
"PA-Pennsylvania,"
"PR-PuertoRico,"
"RI-RhodeIsland,"
"SC-SouthCarolina,"
"SD-SouthDakota,"
"TN-Tennessee,"
"TX-Texas,"
"UT-Utah,"
"VA-Virginia,"
"VI-VirginIslands,"
"VT-Vermont,"
"WA-Washington,"
"WI-Wisconsin,"
"WV-WestVirginia,"
"WY-Wyoming,"

In [30]:
stateslesswhitespace = ["AK-Alaska,"
"AL-Alabama,"
"AR-Arkansas,"
"AS-AmericanSamoa,"
"AZ-Arizona,"
"CA-California,"
"CO-Colorado,"
"CT-Connecticut,"
"DC-DistrictofColumbia,"
"DE-Delaware,"
"FL-Florida,"
"GA-Georgia,"
"GU-Guam,"
"HI-Hawaii,"
"IA-Iowa,"
"ID-Idaho,"
"IL-Illinois,"
"IN-Indiana,"
"KS-Kansas,"
"KY-Kentucky,"
"LA-Louisiana,"
"MA-Massachusetts,"
"MD-Maryland,"
"ME-Maine,"
"MI-Michigan,"
"MN-Minnesota,"
"MO-Missouri,"
"MS-Mississippi,"
"MT-Montana,"
"NC-NorthCarolina,"
"ND-NorthDakota,"
"NE-Nebraska,"
"NH-NewHampshire,"
"NJ-NewJersey,"
"NM-NewMexico,"
"NV-Nevada,"
"NY-NewYork,"
"OH-Ohio,"
"OK-Oklahoma,"
"OR-Oregon,"
"PA-Pennsylvania,"
"PR-PuertoRico,"
"RI-RhodeIsland,"
"SC-SouthCarolina,"
"SD-SouthDakota,"
"TN-Tennessee,"
"TX-Texas,"
"UT-Utah,"
"VA-Virginia,"
"VI-VirginIslands,"
"VT-Vermont,"
"WA-Washington,"
"WI-Wisconsin,"
"WV-WestVirginia,"
"WY-Wyoming,"]

In [31]:
values = df1980['STATEFIP'].sort_values(ascending = False)

In [32]:
values.unique()

array([56, 55, 54, 53, 51, 50, 49, 48, 47, 46, 45, 44, 42, 41, 40, 39, 38,
       37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 13, 12, 11, 10,  9,  8,  6,  5,  4,  2,  1])

In [33]:
values.dtype

dtype('int64')

In [50]:
df1980['STATEFIP'].astype(str)

0         23
1         23
2         23
3         23
4         23
          ..
181483    15
181484    15
181485    15
181486    15
181487    15
Name: STATEFIP, Length: 181488, dtype: object

In [53]:
df1980['STATEFIP'].dtype

dtype('int64')

In [43]:
for x in df1980:
    if x[x['STATEFIP'] == 1]:
        x['STATEFIP'].to
    elif x[x['STATEFIP'] == 2]:
        x['STATEFIP'].replace(2,'AK-Alaska')
    elif x[x['STATEFIP'] == 4]:
        x['STATEFIP'].replace(4,'AZ-Arizona')
    elif x[x['STATEFIP'] == 5]:
        x['STATEFIP'].replace(5,'AR-Arkansas')
    elif x[x['STATEFIP'] == 6]:
        x['STATEFIP'].replace(6,'CA-California')
    elif x[x['STATEFIP'] == 8]:
        x['STATEFIP'].replace(8,'CO-Colorado')
    elif x[x['STATEFIP'] == 9]:
        x['STATEFIP'].replace(9,'CA-Connecticut')
    elif x[x['STATEFIP'] == 10]:
        x['STATEFIP'].replace(10,'DE-Delaware')
    elif x[x['STATEFIP'] == 12]:
        x['STATEFIP'].replace(12,'FL-Florida')
    elif x[x['STATEFIP'] == 11]:
        x['STATEFIP'].replace(11,'DC-District of Columbia')
    elif x[x['STATEFIP'] == 13]:
        x['STATEFIP'].replace(13,'GA-Georgia')
    elif x[x['STATEFIP'] == 15]:
        x['STATEFIP'].replace(15,'HI-Hawaii')
    elif x[x['STATEFIP'] == 16]:
        x['STATEFIP'].replace(16,'HI-ID-Idaho')
    elif x[x['STATEFIP'] == 17]:
        x['STATEFIP'].replace(17,'IL-Illinois')
    elif x[x['STATEFIP'] == 18]:
        x['STATEFIP'].replace(18,'IN-Indiana')
    elif x[x['STATEFIP'] == 19]:
        x['STATEFIP'].replace(19,'IA-Iowa')
    elif x[x['STATEFIP'] == 20]:
        x['STATEFIP'].replace(20,'KS-Kansas')
    elif x[x['STATEFIP'] == 21]:
        x['STATEFIP'].replace(21,'KY-Kentucky')
    elif x[x['STATEFIP'] == 22]:
        x['STATEFIP'].replace(22,'LA-Louisiana')
    elif x[x['STATEFIP'] == 23]:
        x['STATEFIP'].replace(23,'ME-Maine')
    elif x[x['STATEFIP'] == 24]:
        x['STATEFIP'].replace(24,'MD-Maryland')
    elif x[x['STATEFIP'] == 25]:
        x['STATEFIP'].replace(25,'MA-Massachusetts')
    elif x[x['STATEFIP'] == 26]:
        x['STATEFIP'].replace(26,'MI-Michigan')
    elif x[x['STATEFIP'] == 27]:
        x['STATEFIP'].replace(27,'MN-Minnesota')
    elif x[x['STATEFIP'] == 28]:
        x['STATEFIP'].replace(28,'MS-Mississippi')
    elif x[x['STATEFIP'] == 29]:
        x['STATEFIP'].replace(29,'MO-Missouri')
    elif x[x['STATEFIP'] == 30]:
        x['STATEFIP'].replace(30,'MT-Montana')
    elif x[x['STATEFIP'] == 31]:
        x['STATEFIP'].replace(31,'NE-Nebraska')
    elif x[x['STATEFIP'] == 32]:
        x['STATEFIP'].replace(32,'NV-Nevada')
    elif x[x['STATEFIP'] == 3]:
        x['STATEFIP'].replace(33,'NH-New Hampshire')
    elif x[x['STATEFIP'] == 34]:
        x['STATEFIP'].replace(34,'NJ-New Jersey')
    elif x[x['STATEFIP'] == 35]:
        x['STATEFIP'].replace(35,'NM-New Mexico')
    elif x[x['STATEFIP'] == 36]:
        x['STATEFIP'].replace(36,'NY-New York')
    elif x[x['STATEFIP'] == 37]:
        x['STATEFIP'].replace(37,'NC-North Carolina')
    elif x[x['STATEFIP'] == 38]:
        x['STATEFIP'].replace(38,'ND-North Dakota')
    elif x[x['STATEFIP'] == 39]:
        x['STATEFIP'].replace(39,'OH-Ohio')
    elif x[x['STATEFIP'] == 40]:
        x['STATEFIP'].replace(40,'OK-Oklahoma')
    elif x[x['STATEFIP'] == 41]:
        x['STATEFIP'].replace(41,'OR-Oregon')
    elif x[x['STATEFIP'] == 42]:
        x['STATEFIP'].replace(PA,'PA-Pennsylvania')
    elif x[x['STATEFIP'] == 44]:
        x['STATEFIP'].replace(44,'RI-Rhode Island')
    elif x[x['STATEFIP'] == 45]:
        x['STATEFIP'].replace(45,'SC-South Carolina')
    elif x[x['STATEFIP'] == 46]:
        x['STATEFIP'].replace(46,'SD-South Dakota')
    elif x[x['STATEFIP'] == 47]:
        x['STATEFIP'].replace(47,'TN-Tennesse')
    elif x[x['STATEFIP'] == 48]:
        x['STATEFIP'].replace(48,'TX-Texas')
    elif x[x['STATEFIP'] == 49]:
        x['STATEFIP'].replace(49,'UT-Utah')
    elif x[x['STATEFIP'] == 50]:
        x['STATEFIP'].replace(50,'VT-Vermont')
    elif x[x['STATEFIP'] == 51]:
        x['STATEFIP'].replace(51,'VA-Virgina')
    elif x[x['STATEFIP'] == 53]:
        x['STATEFIP'].replace(53,'WA-Washington')
    elif x[x['STATEFIP'] == 54]:
        x['STATEFIP'].replace(54,'WV-West Virginia')
    elif x[x['STATEFIP'] == 55]:
        x['STATEFIP'].replace(55,'WI-Wisconsin')
    elif x[x['STATEFIP'] == 56]:
        x['STATEFIP'].replace(56,'WY-Wyoming')

TypeError: string indices must be integers

In [24]:
for x in df1980:
    if x[x['STATEFIP'] == 1]:
        x['STATEFIP'].replace(1,'AL-Alabama')
    elif x[x['STATEFIP'] == 2]:
        x['STATEFIP'].replace(2,'AK-Alaska')
    elif x[x['STATEFIP'] == 4]:
        x['STATEFIP'].replace(4,'AZ-Arizona')
    elif x[x['STATEFIP'] == 5]:
        x['STATEFIP'].replace(5,'AR-Arkansas')
    elif x[x['STATEFIP'] == 6]:
        x['STATEFIP'].replace(6,'CA-California')
    elif x[x['STATEFIP'] == 8]:
        x['STATEFIP'].replace(8,'CO-Colorado')
    elif x[x['STATEFIP'] == 9]:
        x['STATEFIP'].replace(9,'CA-Connecticut')
    elif x[x['STATEFIP'] == 10]:
        x['STATEFIP'].replace(10,'DE-Delaware')
    elif x[x['STATEFIP'] == 12]:
        x['STATEFIP'].replace(12,'FL-Florida')
    elif x[x['STATEFIP'] == 11]:
        x['STATEFIP'].replace(11,'DC-District of Columbia')
    elif x[x['STATEFIP'] == 13]:
        x['STATEFIP'].replace(13,'GA-Georgia')
    elif x[x['STATEFIP'] == 15]:
        x['STATEFIP'].replace(15,'HI-Hawaii')
    elif x[x['STATEFIP'] == 16]:
        x['STATEFIP'].replace(16,'HI-ID-Idaho')
    elif x[x['STATEFIP'] == 17]:
        x['STATEFIP'].replace(17,'IL-Illinois')
    elif x[x['STATEFIP'] == 18]:
        x['STATEFIP'].replace(18,'IN-Indiana')
    elif x[x['STATEFIP'] == 19]:
        x['STATEFIP'].replace(19,'IA-Iowa')
    elif x[x['STATEFIP'] == 20]:
        x['STATEFIP'].replace(20,'KS-Kansas')
    elif x[x['STATEFIP'] == 21]:
        x['STATEFIP'].replace(21,'KY-Kentucky')
    elif x[x['STATEFIP'] == 22]:
        x['STATEFIP'].replace(22,'LA-Louisiana')
    elif x[x['STATEFIP'] == 23]:
        x['STATEFIP'].replace(23,'ME-Maine')
    elif x[x['STATEFIP'] == 24]:
        x['STATEFIP'].replace(24,'MD-Maryland')
    elif x[x['STATEFIP'] == 25]:
        x['STATEFIP'].replace(25,'MA-Massachusetts')
    elif x[x['STATEFIP'] == 26]:
        x['STATEFIP'].replace(26,'MI-Michigan')
    elif x[x['STATEFIP'] == 27]:
        x['STATEFIP'].replace(27,'MN-Minnesota')
    elif x[x['STATEFIP'] == 28]:
        x['STATEFIP'].replace(28,'MS-Mississippi')
    elif x[x['STATEFIP'] == 29]:
        x['STATEFIP'].replace(29,'MO-Missouri')
    elif x[x['STATEFIP'] == 30]:
        x['STATEFIP'].replace(30,'MT-Montana')
    elif x[x['STATEFIP'] == 31]:
        x['STATEFIP'].replace(31,'NE-Nebraska')
    elif x[x['STATEFIP'] == 32]:
        x['STATEFIP'].replace(32,'NV-Nevada')
    elif x[x['STATEFIP'] == 3]:
        x['STATEFIP'].replace(33,'NH-New Hampshire')
    elif x[x['STATEFIP'] == 34]:
        x['STATEFIP'].replace(34,'NJ-New Jersey')
    elif x[x['STATEFIP'] == 35]:
        x['STATEFIP'].replace(35,'NM-New Mexico')
    elif x[x['STATEFIP'] == 36]:
        x['STATEFIP'].replace(36,'NY-New York')
    elif x[x['STATEFIP'] == 37]:
        x['STATEFIP'].replace(37,'NC-North Carolina')
    elif x[x['STATEFIP'] == 38]:
        x['STATEFIP'].replace(38,'ND-North Dakota')
    elif x[x['STATEFIP'] == 39]:
        x['STATEFIP'].replace(39,'OH-Ohio')
    elif x[x['STATEFIP'] == 40]:
        x['STATEFIP'].replace(40,'OK-Oklahoma')
    elif x[x['STATEFIP'] == 41]:
        x['STATEFIP'].replace(41,'OR-Oregon')
    elif x[x['STATEFIP'] == 42]:
        x['STATEFIP'].replace(PA,'PA-Pennsylvania')
    elif x[x['STATEFIP'] == 44]:
        x['STATEFIP'].replace(44,'RI-Rhode Island')
    elif x[x['STATEFIP'] == 45]:
        x['STATEFIP'].replace(45,'SC-South Carolina')
    elif x[x['STATEFIP'] == 46]:
        x['STATEFIP'].replace(46,'SD-South Dakota')
    elif x[x['STATEFIP'] == 47]:
        x['STATEFIP'].replace(47,'TN-Tennesse')
    elif x[x['STATEFIP'] == 48]:
        x['STATEFIP'].replace(48,'TX-Texas')
    elif x[x['STATEFIP'] == 49]:
        x['STATEFIP'].replace(49,'UT-Utah')
    elif x[x['STATEFIP'] == 50]:
        x['STATEFIP'].replace(50,'VT-Vermont')
    elif x[x['STATEFIP'] == 51]:
        x['STATEFIP'].replace(51,'VA-Virgina')
    elif x[x['STATEFIP'] == 53]:
        x['STATEFIP'].replace(53,'WA-Washington')
    elif x[x['STATEFIP'] == 54]:
        x['STATEFIP'].replace(54,'WV-West Virginia')
    elif x[x['STATEFIP'] == 55]:
        x['STATEFIP'].replace(55,'WI-Wisconsin')
    elif x[x['STATEFIP'] == 56]:
        x['STATEFIP'].replace(56,'WY-Wyoming')

TypeError: string indices must be integers